@charset 'UTF-8';

header {
    background-color: rgb(168, 168, 168);
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 75px;
}

.header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-logo{
    width:300px;
    height:75px;
}

/* Navigation */
.header-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}
.drawer_hidden {
    display: none;
}
.header-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid var(--black);
    color: #0d0e0e;
    font-family: system-ui;
    font-size: 1.2em;
    background: none;
    position: static;
    width: 100%;
    padding: 0 0 1rem;
    transition: none;
    bottom: -1px;
}



.header-menu-wrapper li :hover{
    border-bottom: 5px solid red;
}

.header-menu-wrapper li {
    padding: 1rem;
}

/* Archive */
.page-title {
    font-size: var(--font-xl);
    margin-bottom: 2rem;
}

 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .header-menu-wrapper {
        display: grid;
        justify-content: start;
        align-items: start;
        color: #0d0e0e;
        font-family: system-ui;
        font-size: 1.2em;
        }
    .drawer_hidden {
        display: none;
      }
    .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    }

    /* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(169, 169, 169);
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_item {
  list-style: none; 
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}

}

