.wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin: 10% 10%;
    
}
img {
    max-width: 100%;
	height: auto;

   
    
}
.item{
    padding: 25px;
    margin:auto auto;
}
