.wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin: 3% 10%;
    
}
.item img {
    max-width: 100%;
	height: auto;

   
    
}
.item{
    padding: 5%;
    margin:auto auto;
}

@media only screen and (max-width: 750px) {
    .wrapper {
        display:grid;
        grid-template-columns:1fr;
        margin: 3% 10%;
        
    }
}
